$text-color: hsl(238, 29%, 16%);
$icon-color: hsl(14, 88%, 65%);
$selected-text-color: hsl(237, 12%, 33%);
$answer-color: hsl(240, 6%, 50%);
$dividers-color: hsl(240, 5%, 91%);
$image-shadow-color: hsla(240, 73%, 65%, 0.1);
$gradient-start: hsl(273, 75%, 66%);
$gradient-end: hsl(240, 73%, 65%);
$desktop-breakpoint: 1200px;

@mixin mQ($size) {
    @media screen and (min-width: $size){
        @content;        
    }    
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: fixed no-repeat linear-gradient($gradient-start, $gradient-end);
    height: 100%;
}

#img-woman-mobile {
    z-index: 5;
    position: absolute;
    top: -10px;
    padding-right: 30px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 30px 0px $image-shadow-color);
    @include mQ($desktop-breakpoint) {
        display: none;
    }
}

#img-woman-desktop {
    z-index: 5;
    display: none;
    @include mQ($desktop-breakpoint) {
        display: block;
        position: absolute;
        top: 50px;
        left: -80px;
    }
}

.img-box-desktop {
    display: none;
    z-index: 100;
    @include mQ($desktop-breakpoint) {
        display: block;
        position: absolute;
        top: 345px;
        left: 115px;
        transition: transform 200ms ease-in-out;
    }
    &--active {
        transform: translateX(-37px);
    }   
}

#img-pattern-desktop {
    z-index: 1;
    display: none;
    @include mQ($desktop-breakpoint) {
        display: block;
        position: absolute;
        top: -315px;
        left: -572px;
    }
}

article {
    background-color: white;
    padding: 30px 8% 30px 8%;
    border-radius: 20px;
    margin: 150px 5% 50px 5%;
    position: relative;
    box-shadow: -6px 0 transparent, 6px 0 transparent, 0 30px 20px -10px hsl(240, 40%, 49%);
    @include mQ($desktop-breakpoint) {
        padding-right: 13%;
        width: 50%;
        margin: 160px 200px 50px 200px;
        overflow: hidden;
    }
    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 40px;
        color: $text-color;
    }
    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}

#faq {
    width: 100%;
    padding-top: 80px;
    @include mQ($desktop-breakpoint) {
        width: 50%;
        margin-left: 60%;
        padding: 0;
    }
}

.accordion {
    border-bottom: 1px solid $dividers-color;
    margin: 20px 0 20px 0;
    cursor: pointer;
    transition: 300ms;
    &:hover > .question {
        color: $icon-color;
        font-weight: bold;
    }
}

.question {
    color: $text-color;
    position: relative;
    font-weight: 400;
    padding-right: 30px;
    &--active {
        font-weight: bold;
    }
}

.answer {
    color: $answer-color;
    padding-right: 30px;
    display: none;
    &--active {
        display: block;
    }
}

.arrow{
    position: absolute;
    right: 0px;
    top: 5px;
    transform: rotate(0deg);
    &--active {
        transform: rotate(180deg);
    }
}